.group_form {
  width: 500px;
}

.group_form__container {
  margin-top: 5px;
  background-color: #aeb7a4;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  border-radius: 3px;
}

.group_form__container h1 {
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.group_form__row {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.group_form__row label {
  margin-left: 5px;
  margin-right: 5px;
}

.group_form__row input {
  background-color: #f0f0f0;
  border: none;
  border-radius: 3px;
}

.group_form__row select {
  background-color: #f0f0f0;
  border: none;
  border-radius: 3px;
}

.group_form__row textarea {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  background-color: #f0f0f0;
  border: none;
}

.group_form__buttons {
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.group_form__buttons button {
  background-color: #feac48;
  border-radius: 3px;
  border: none;
  margin-right: 10px;
}
