.nav_container {
  width: 100%;
  height: 40px;
  border-top: 3px solid rgb(51, 51, 51);
  border-bottom: 3px solid rgb(51, 51, 51);
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_left {
  width: 200px;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  color: rgb(51, 51, 51);
}

.nav_left input {
  margin-left: 10px;
  height: 20px;
  width: 130px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
}

.nav_right {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-right: 3px;
}

.nav_center {
  width: 200px;
  margin-top: 3px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  font-family: "Expletus Sans", cursive;
  font-size: 18px;
  color: rgb(51, 51, 51);
}

i {
  font-size: 23px;
  /* color: rgb(51, 51, 51); */
  color: #feac48;
}

.profile_button {
  background-color: transparent;
  border: none;
}

.skill_button {
  height: 25px;
  width: 100%;
  border: none;
  background-color: #feac48;
  color: rgb(51, 51, 51);
  border-radius: 3px;
  font-family: "Chivo", sans-serif;
}

.nav_link__signup {
  width: 53px;
  text-decoration: none;
  background-color: #feac48;
  border-radius: 3px;
  border: none;
  color: rgb(51, 51, 51);
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  margin: auto;
  text-align: center;
  box-shadow: 1px 1px 3px #ad7530;
}
