.login {
  height: 300px;
  display: flex;
  background-color: rgba(202, 240, 202, 0.541);
  border-color: black;
}

.login__container {
  margin: auto;
  display: flex;
  flex-direction: row;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
}

.login__form {
}

.login__form h1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.login__row {
  display: flex;
  margin-bottom: 8px;
}

.login__row label {
  margin-left: 10px;
  letter-spacing: 1px;
}

.login__row input {
  flex: 1;
  margin-right: 10px;
  margin-left: 5px;
}

.login__row button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: rgb(107, 107, 107);
  background-color: rgb(250, 250, 167);
  margin: auto;
  font-family: "Raleway", sans-serif;
}
