.login {
  height: 300px;
  display: flex;
  background-color: #aeb7a4;
  border-radius: 3px;
}

.login__container {
  margin: auto;
  display: flex;
  flex-direction: row;
  font-family: "Expletus Sans", cursive;
  letter-spacing: 2px;
}

.login__form {
}

.login__form h1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

.login__row {
  display: flex;
  margin-bottom: 8px;
}

.login__row label {
  margin-left: 10px;
  letter-spacing: 1px;
  font-family: "Exo 2", sans-serif;
  border: none;
  color: rgb(51, 51, 51);
}

.login__row input {
  flex: 1;
  margin-right: 10px;
  margin-left: 5px;
  font-family: "Exo 2", sans-serif;
  border: none;
  border-radius: 3px;
}

.login__row button {
  height: 35px;
  width: 50px;
  border: none;
  background-color: #feac48;
  color: rgb(51, 51, 51);
  border-radius: 3px;
  margin: auto;
  font-family: "Exo 2", sans-serif;
}
